
// Write your custom style. Feel free to split your code to several files
* {
  // font-family: SailecBlackItalic;
}

@font-face {
  font-family: SailecBlackItalic;
  src: url('../fonts/Sailec-BlackItalic.ttf');
}


@font-face {
  font-family: SailecMedium;
  src: url('../fonts/Sailec-Medium.ttf');
}